workflow-chatbot-telegram.json
{
  "name": "ATM_ClimaBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "36b752be-d39a-47e4-8fa0-cd5776bf0a19",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1424,
        96
      ],
      "webhookId": "e61c15fe-1ac5-421a-8620-006c9a24c9e7",
      "credentials": {
        "telegramApi": {
          "id": "oZX3JQdZGmJB4MBz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.cod }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "id": "e83708e3-6b9b-4c6a-8543-d7f1bfcf0ea5",
      "name": "Validação Resposta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -384,
        -80
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "=🌤️ A temperatura em {{ $('Telegram Trigger').item.json.message.text.split(',')[0] }} é de {{ Math.round($json.main.temp) }}°C.",
        "additionalFields": {}
      },
      "id": "bf85e763-9c26-40b7-a9d5-fc74e7b3ae96",
      "name": "Resposta Sucesso",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -160,
        -80
      ],
      "webhookId": "b2acbef8-4fa6-410a-871b-4a9057520e0b",
      "credentials": {
        "telegramApi": {
          "id": "oZX3JQdZGmJB4MBz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}",
        "text": "❌ Cidade não encontrada. Use o formato Cidade, UF (ex.: Maravilha, SC).",
        "additionalFields": {}
      },
      "id": "3f31696d-6509-47c5-b26f-1bc631c1dc1d",
      "name": "Resposta Erro",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -160,
        144
      ],
      "webhookId": "20cd0df7-932f-4f6a-bcb5-582ab2e79b54",
      "credentials": {
        "telegramApi": {
          "id": "oZX3JQdZGmJB4MBz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "lang",
              "value": "pt_br"
            },
            {
              "name": "appid",
              "value": "={{$env.OPENWEATHER_API_KEY}}"
            },
            {
              "name": "lat",
              "value": "={{ $json.lat }}"
            },
            {
              "name": "lon",
              "value": "={{ $json.lon }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc86732b-393b-49db-8d4e-5fd03c1d5b3a",
      "name": "OpenWeather API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -592,
        -80
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "queue",
              "value": "={{ $json.message.text + \",BR\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dc1659aa-6afe-4807-ab02-245f3d8d7d13",
      "name": "Captura",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1216,
        96
      ]
    },
    {
      "parameters": {
        "url": "http://api.openweathermap.org/geo/1.0/direct",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.queue }}"
            },
            {
              "name": "limit",
              "value": "1"
            },
            {
              "name": "appid",
              "value": "={{$env.OPENWEATHER_API_KEY}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1008,
        96
      ],
      "id": "d96ad3c2-64ee-44fe-aecf-28363639a34e",
      "name": "GEO Coding API",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.name.toLowerCase() }}",
              "value2": "={{ $('Telegram Trigger').item.json.message.text.split(',')[0].toLowerCase() }}"
            },
            {
              "value1": "={{ $json.lat }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.lon }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "96f37c86-a9e7-43e5-bd0e-f8db360d7ba1",
      "name": "Validação Geolocalização",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -816,
        96
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Captura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação Resposta": {
      "main": [
        [
          {
            "node": "Resposta Sucesso",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeather API": {
      "main": [
        [
          {
            "node": "Validação Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura": {
      "main": [
        [
          {
            "node": "GEO Coding API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO Coding API": {
      "main": [
        [
          {
            "node": "Validação Geolocalização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validação Geolocalização": {
      "main": [
        [
          {
            "node": "OpenWeather API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "76afebed-f224-42d8-a98a-921545a90f35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a81c39006574dede9220360c5925e26238ed969d52ef132e938a0d0b1eaba3d4"
  },
  "id": "2gX8M62jmfY8Zowf",
  "tags": []
}